#djcustom-footer .header-Phone .fl-rich-text > p {
  margin: 0 !important;
}
.gfield_time_ampm select {
  min-width: 60px !important;
  width: 60px !important;
}

.gfield input[type="text"] {
  width: 100% !important;
}

.gform_wrapper .gform_body select {
  padding: 15px 6px !important;
}

.gform_wrapper .gform_body input {
  padding: 15px 6px !important;
}

.gform_footer.top_label input {
  width: auto !important;
}

.gfield {
  padding-right: 15px !important;
}

body .gform_wrapper ul li.gfield {
  margin-top: 0 !important;
}
.fl-404{
	margin-top:178px
}
body .gform_wrapper .timeEstimate div.ginput_container {
  margin-top: 0 !important;
}

.ginput_container.ginput_container_radio ul li,
.ginput_container.ginput_container_checkbox ul li {
  display: flex;
  align-items: center;
}

.ginput_container.ginput_container_checkbox ul li input {
  margin-right: 5px;
}

#responsive-menu-additional-content {
  padding: 5px 5% !important;
}

#responsive-menu-additional-content a {
  color: #fff !important;
}

#responsive-menu-search-box {
  padding: 18px 5% !important;
}

.facet_filters strong {
  color: #c68c22 !important;
}

button#responsive-menu-button {
  width: 40px !important;
  height: 40px !important;
}

#breadcrumbs {
  position: absolute;
  top: 220px;
  z-index: 99;
  left: 0;
  right: 0;
  margin: auto;
  background: 0 0;
}

.product-banner-img {
  min-height: 500px;
}

.product-detail-layout-5 {
  padding-top: 260px;
}

i.ua-icon.ua-icon-search {
  cursor: pointer;
}

.row.search-row {
  padding-top: 250px;
}

.fl-content.fl-content-left.col-md-8,
.fl-sidebar.fl-sidebar-right.fl-sidebar-display-desktop.col-md-4 {
  margin-top: 260px;
}

ul#topbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul#topbar li {
  float: left;
  list-style-type: none;
}

ul#topbar li a {
  color: #f9f9f8;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

ul.social-icons {
  text-align: center;
}

ul#topbar li a:hover {
  color: #414042;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm select {
  width: 60px !important;
  max-width: 60px !important;
}

.gform_wrapper .gfield_time_hour i {
  margin-top: -2px !important;
}

form select {
  padding: 6px 0 !important;
}

.button-wrapper-default a:hover {
  background: #ffb734;
  border: 2px solid #ffb734;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-ancestor > a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-item > a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-parent > a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li > a:focus,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li > a:hover {
  color: #dea53d;
}

.gform_wrapper ul.gfield_checkbox li input[type="checkbox"],
.gform_wrapper ul.gfield_radio li input[type="radio"] {
  margin-top: 0 !important;
  vertical-align: top !important;
}

.gform_wrapper .gfield_radio li label {
  margin: 0 0 0 4px !important;
}

.fl-page-nav-right .fl-page-nav-wrap a.fab:focus,
.fl-page-nav-right .fl-page-nav-wrap a.fab:hover,
.fl-page-nav-right .fl-page-nav-wrap a.fas:focus,
.fl-page-nav-right .fl-page-nav-wrap a.fas:hover,
.fl-page-nav-right .fl-page-nav-wrap a:focus,
.fl-page-nav-right .fl-page-nav-wrap a:focus *,
.fl-page-nav-right .fl-page-nav-wrap a:hover,
.fl-page-nav-right .fl-page-nav-wrap a:hover * {
  color: #dea53d;
}

.fl-page-nav-search form {
  border-top: 3px solid #dea53d;
}

.uabb-gf-style .gform_wrapper .gfield_checkbox li label,
.uabb-gf-style .gform_wrapper .gfield_radio li label {
  vertical-align: top;
}

.storename .phone a span:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 19px !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}

.header-Phone .storename .phone a span:before {
  margin-right: 15px !important;
}

.store-opening-hrs {
  padding-left: 0 !important;
  list-style: none;
}

.storename .store-opening-hrs li {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.gform_body
  input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not(
    [type="button"]
  ):not([type="image"]):not([type="file"]) {
  width: 100%;
}
.fl-slide-text > p {
  margin: 0px !important;
  padding: 0px !important;
}
.fl-slide-text > .fl-builder-content {
  margin: 0px !important;
}
.uabb-gf-style
  .gform_wrapper
  ul.gform_fields
  li.gfield:not(.gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
  padding-right: 15px;
}

.colors-list,
.style-list {
  padding-top: 220px;
}
/*Filter Select Design*/
.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #c68c22;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #c68c22;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.facetwp-selections ul li {
  width: 100%;
  display: block;
  margin: 5px 0;
}
.facetwp-selections ul li .facetwp-selection-value {
  font-size: 16px;
  color: #000;
}

.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}
footer a:hover,
footer a:hover * {
  color: #cc9a34 !important;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #1d4d27;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #cc9a34 !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #000000 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #000000 !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #cc9a34 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #000000 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #000000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #cc9a34 !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #000000 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #cc9a34 !important;
}
.facet_wrap button,
.page-info .pagination_wrapper>div button, 
div#mm-product-list .facet_wrap button, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button,
div#mm-product-details .product-detail-layout-6 .button-wrapper a, 
.row.search-row .posts_search_result .product-item a.fl-button, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button {
    background: #1d4d27!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
}

.facet_wrap button:hover,
.page-info .pagination_wrapper>div button:hover, 
div#mm-product-list .facet_wrap button:hover, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button:hover,
div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover, 
.row.search-row .posts_search_result .product-item a.fl-button:hover, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button:hover {
    background: #cc9a34!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
}

.homepage-slider .fl-slide  .fl-slide-photo-wrap {
  margin-top: 217px;
}

@media (min-width: 1024px) {
  #breadcrumbs {
    text-shadow: 0 0 6px #000;
  }
  #breadcrumbs a {
    color: #fff;
  }
  #breadcrumbs a:hover {
    color: #ffb734;
  }
  #breadcrumbs span {
    color: #fff;
  }
}

@media (max-width: 1024px) {
  .style-product_list .pro-container .row .col-md-7 {
    width: 100% !important;
    min-height: 400px !important;
  }
  ul#topbar li a {
    font-size: 11px;
    padding: 5px;
  }
  .fl-page-nav .navbar-nav li > a {
    padding: 15px 8px;
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  .fl-page-header-wrap .fl-page-header-container {
    padding: 10px 20px !important;
  }
  button#responsive-menu-button {
    width: 40px;
    height: 40px;
  }
  ul#topbar > li:last-child {
    display: block !important;
  }
  .social-icons-container {
    text-align: center;
  }
  .fl-button span.fl-button-text {
    color: #fff;
  }
  .uabb-gf-style .gform_wrapper .gform_footer input[type="submit"] {
    width: auto !important;
    color: #fff;
  }
}

@media (max-width: 992px) {
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    margin: 0 !important;
    padding: 0px;
  }
  .max-width-issue {
    margin: 0 auto;
    max-width: 360px !important;
  }
  .max-width-issue_two img {
    margin: 0 auto;
    max-width: 360px !important;
  }
  .fl-page-header-logo {
    text-align: left !important;
  }
  button#responsive-menu-button {
    top: 22px !important;
  }
  .fl-row-content-wrap .fl-button-group-buttons {
    justify-content: center !important;
  }
  #breadcrumbs {
    position: static;
    background: inherit;
  }
  .fl-content.fl-content-left.col-md-8,
  .fl-sidebar.fl-sidebar-right.fl-sidebar-display-desktop.col-md-4 {
    padding-top: 0;
    margin-top: 0;
  }
  button#responsive-menu-button {
    top: 18px !important;
  }
  header {
    position: static !important;
  }
  .header-middle {
    background: #1d4d27;
    padding-bottom: 10px;
    border-top: 1px solid #ddd;
  }
  .header-middle .fl-row-content-wrap {
    background: none;
  }
  .colors-list,
  .style-list {
    padding-top: 0;
  }
  .colors-list .top-heading,
  .style-list .top-heading {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .row.search-row {
    padding-top: 0;
  }
  .product-banner-img {
    min-height: 400px;
  }
  .product-detail-layout-5 {
    padding-top: 0;
  }
  #responsive-menu-container .storename .phone a span {
    padding-left: 20px;
    position: relative;
  }
  #responsive-menu-container .storename .phone a span:before {
    position: absolute;
    left: 0;
    top: 0;
  }
  #responsive-menu-container
    #responsive-menu
    li.responsive-menu-item
    .nav-link {
    padding-left: 15%;
  }
}

/* Slider height issue on mobile */
@media (max-width: 992px) {
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .product-attributes table {
    table-layout: fixed !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: +2;
  }
}
@media (max-width: 767px) {
  .search-row .product-grid {
    padding: 0 20px !important;
  }
  .fl-page-bar .fl-page-bar-row .text-left {
    width: 60%;
    float: left;
  }
  .fl-page-bar .fl-page-bar-row .text-right {
    width: 40%;
    float: right;
  }
  .fl-page-bar .fl-page-bar-row .text-left * {
    text-align: left !important;
  }
  ul#topbar > li:last-child {
    float: right !important;
  }
  .fl-module-heading h1.fl-heading {
    line-height: 48px !important;
  }
  .featured-products .featured-product-list .featured-product-item {
    width: 50%;
  }
}

@media (max-width: 450px) {
  .max-width-issue_two img {
    margin: 0 auto;
    max-width: 100% !important;
  }
  .fl-page-bar .fl-page-bar-row .text-left {
    width: 66%;
    float: left;
    padding: 0;
  }
  .fl-page-bar .fl-page-bar-row .text-right {
    width: 34%;
    float: right;
    padding: 0;
  }
  .fl-col-group .boxes-on-mobile-full-width {
    width: 100% !important;
  }
  footer .fl-col-group .boxes-on-mobile-full-width {
    width: 100% !important;
  }
  .fl-page-header-primary .fl-logo-img {
    max-width: 80% !important;
  }
  button#responsive-menu-button {
    top: 90px !important;
  }
  .page-template-floorte_hardwood h2:nth-child(1) {
    padding: 0 20px !important;
  }
  .footer-top,
  .footer-top .fl-heading,
  .footer-top .fl-module-content.fl-node-content,
  .footer-top ul {
    text-align: center !important;
  }
  .footer-top .fl-module-content {
    margin-left: 0;
    margin-right: 0;
  }
  .featured-products .featured-product-list .featured-product-item {
    width: 100%;
  }
  .gform_wrapper .gform_body select {
    padding: 19px 6px !important;
  }
}

@media (max-width: 400px) {
  .ginput_container.ginput_container_checkbox ul li {
    display: flex;
    align-items: flex-start;
  }
  .gform_wrapper ul.gfield_checkbox li input[type="checkbox"] {
    margin-top: 1px !important;
  }
}

.custom_searchModule {
  display: none;
  z-index: 2;
  position: absolute;
  right: 0;
  left: 0;
  top: 110px;
  padding: 5px 20px;
}
/* PLP Page Css iPad Air */
@media only screen and (max-width: 992px) {
  .logo .uabb-photo-img {
    max-height: 130px;
    width: auto !important;
  }
  /* Slider height issue on mobile open */
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: 2;
  }
  /* Slider height issue on mobile closed */

  /* Facet Filter CSS	- iPad */
  .facet_filters .close_bar {
    display: block;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .facetwp-per-page-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .open_sidebar a {
    float: none !important;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }
  .facet_filters .close_bar .close {
    float: right;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .fl-module-rich-text.facet_filters {
    display: none;
  }

  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }

  .facetwp-pager {
    float: none !important;
    margin-top: 10px;
  }
  /* Products List CSS - iPad */
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .product-row > div.col-md-3:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media only screen and (max-width: 599px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 48%;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100%;
    clear: both !important;
  }
}
@media only screen and (max-width: 362px) {
  .logo .uabb-photo-img {
    max-height: 100px;
  }
  button.rmp_menu_trigger {
    top: 120px !important;
  }
}
/* PLP Page Css iPad Air */
